<div class="d-flex flex-row bd-highlight">
	<div class = "m-2 p-2 bd-highlight">
		<h1>All lessons</h1>
	</div>
	<div class="bd-highlight m-2 p-2">
		<%= link_to 'New Leson', new_student_path , class: "btn btn-secondary btn-lg " %>

	</div>

</div>



